@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 233 90% 4%;
    --foreground: 0 0% 100%;
    --card: 246 42% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 246 42% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 304 100% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 100% 63%;
    --secondary-foreground: 0 0% 100%;
    --muted: 264 38% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 264 38% 10%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 264 38% 10%;
    --input: 264 38% 10%;
    --ring: 304 100% 61%;
    --chart-1: 304 100% 61%;
    --chart-2: 232 100% 63%;
    --chart-3: 264 38% 10%;
    --chart-4: 246 42% 9%;
    --chart-5: 233 90% 4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
